{% extends 'base.html.twig' %}
{% set title = "My SuperBook Store" %}
{% block title title %}

{% block body %}
	<h1>{{ title }}</h1>
	<section>
		<button class="btn btn-primary">
			<a href="{{ path('app_book_new') }}">Ajouter un livre</a>
		</button>
		<button class="btn btn-primary">
			<a href="{{ path('app_book_index') }}">Liste des livres</a>
		</button>
	</section>
	<section>
		<button class="btn btn-primary">
			<a href="{{ path('app_author_new') }}">Ajouter un auteur</a>
		</button>
		<button class="btn btn-primary">
			<a href="{{ path('app_author_index') }}">Liste des auteurs</a>
		</button>
	</section>
	<section>
		<button class="btn btn-primary">
			<a href="{{ path('app_category_new') }}">Ajouter un categorie</a>
		</button>
		<button class="btn btn-primary">
			<a href="{{ path('app_category_index') }}">Liste des categories</a>
		</button>
	</section>
	<section>
		<h2>Bienvenue sur {{ title }}</h2>
		<p>Retrouver tous nos livres:
			<button class="btn btn-primary">
				<a href="{{ path('app_book_index') }}">Liste des livres</a>
			</button>
		</p>
	</section>

	<div data-controller="hello"></div>
{% endblock %}
